*,
*::after,
*::before {
  margin: 1px 10px;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* class */
.table {
  font-family: arial, sans-serif;
  margin: 1em;
  border-collapse: collapse;
}

/* element */
th,
td {
  border: 3px solid rgb(106, 82, 113);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ebe6f3;
}

/* id */
#header,
th {
  font-style: oblique;
  border-color: rgb(95, 52, 203);
  color: rgb(105, 14, 189);
}

input,
ol,
ul,
select {
  margin: 1em;
}

input {
  padding: 12px 100px 12px 20px;
  border: 1px solid gray;
  border-radius: 20px;
}

input:hover {
  background-color: #a4b4ef;
}
